.container {
    height: 380px;
    width: 400px;
    margin: auto;
    margin-top: 180px;
    border-radius: 5px;
    box-shadow: 0px .2px 0px .2px;
}

.login h1{
    text-align: center;
}

.atas a:hover{
    color: #ffff;
    transition: 2;
}
